/* .mainHeader {
  position: relative;
  /* top: -120px; */
  padding-top: 100px;
  /* border: 1px solid black; */
  width: 100%;
  background: url("/src/pages/Landing/header-bg.png")
    no-repeat;

  height: 900px;
  margin: auto;

  background-size: 100% 90%;
  text-align: center;
} */
.dark .mainHeader {
  position: relative;
  /* top: -120px; */
  padding-top: 100px;
  width: 100%;
  background: url("/src/pages/Landing/header-bg.png")
    no-repeat;

  height: 900px;
  margin: auto;

  background-size: 100% 90%;
  text-align: center;
  /* background-blend-mode: color-burn; */
  filter: invert(1);
  color: black;
  border-color: white;
}
